*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(image/photo.jpg);
    background-size: 1000px;
    
}
.body:hover{
    background-blend-mode: multiply;
    background-color: grey;
}
.header h1{
    padding-top: 80px;
    text-align: center;
    color: whitesmoke;
    ;
}
.header p{
    padding-top: 10px;
    font-size: 21px;
    font-style: italic;
    text-align: center;
    color: whitesmoke;
}
.register{
    background-color: darkslategrey;
    border-radius: 5px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    padding-top: 35px;
    padding-left: 20px;
    color: white;
}
.form-group{
     font-size:20px ;
     font-style: italic;
     padding: 1%;
}
.form-control{
    width: 90%;
    padding: 7px;
    padding-top: 15px;
    border-radius: 3px;
    outline: auto;
}
.radio{
    display: inline;
    margin-right: 4px;
    padding: 50px;
    height:19px;
    width: 19px;
    
}
.checkbox{
    display: inline;
    margin-right: 4px;
    width: 19px;
    height: 19px;
}
.comment{
    height: 120px;
    width: 80%;
    padding: 0.62rem;
}
.button{
       display: block;
       width: 80%;
       background-color:mediumseagreen;   
       color: inherit;
       border-radius: 2px;
       cursor: pointer;
       padding:10px;
       font-size: 24px;
       outline: 1px;
       margin-left: 20px;
}