
*{
    margin: 0;
    padding: 0;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    justify-content: space-between;
    background-color:whitesmoke;
    box-shadow:rgb(53, 51, 51);
    
}
.logo{
    margin: 10px;
    float: left;
    font-size: 30px;
    margin-left: 10rem;
}
p {
    font-size: 15px;
    color: red;
}
nav  {
    float: right;
    justify-content: space-between;
     margin-top: 20px;
}
nav a{
    margin-top: 10px;
  
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;

}
/*--- section---*/
section{
 
    
}
.heading{
   display: flex;
   margin-left: 300px;
   margin-top: 50px;
   font-size: 17px;
   
}
.icon{
    border: 1px solid black;
    border-radius: 50%;
    width: 28px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    position: initial;
    background-color: whitesmoke;
   
}
.text{
    display: flex;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    border-radius: 20px;
    background-color: rgb(236, 233, 233);
}
.text:hover{
    background-color: gray;
}
.point{
    color: black;
    margin-top: 3px;
}
a{
    text-decoration: none;
    font-size: 25px;
}
h1{
    margin-left: 300px;
    padding: 10px;
}
table{
   text-align: center;
   border: 1px solid rgb(23, 144, 214);
   margin-left: 300px;
   background-color: rgb(221, 219, 219);
   
    
}
.table{
    border-collapse: collapse;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-top: 1px solid black;
}
.table td{
    border-right: 1px solid rgb(13, 155, 165);
    display: table-cell;
    vertical-align: inherit;
}
.red{
    color: red;
}
.yellow{
    color: yellow;
}
.footer {
    
    display: flex;
   float: right;
   margin-right: 110px;
   margin-top: 40px;
    
}

.footer button {
    justify-self: center;
    height: 40px;
    border: none;
    background-color: #d1cdcd;
    margin-right: 12px;
    width: 100px;
}
.file{
    color: black;
    border: 1px solid rgb(212, 212, 212);
    text-align: center;
    padding: 4px;
    margin-right: 12px;
}