
*{
    margin: 0;
    padding: 0;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    justify-content: space-between;
    background-color:whitesmoke;
    box-shadow:rgb(53, 51, 51);
    
}
.logo{
    margin: 10px;
    float: left;
    font-size: 30px;
    margin-left: 10rem;
}
p {
    font-size: 15px;
    color: red;
}
nav  {
    float: right;
    justify-content: space-between;
     margin-top: 20px;
}
nav a{
    margin-top: 10px;
  
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;

}
/*--- section---*/
section{
 
    
}
.a{
    border: 1px solid gray;
  
    display: flex;
   
   margin-left: 300px;
   margin-top: 50px;
   font-size: 17px;
   
}
.icon{
    border: 1px solid gray;
    border-radius: 5px;
}
.fa fa-minus{
    border-radius: 50%;
}
h1{
    margin-left: 300px;
    padding: 10px;
}
table{
   text-align: center;
   border: 1px solid rgb(23, 144, 214);
   margin-left: 300px;
}
td{
    border: 1px solid black;
}
.red{
    color: red;
}
.yellow{
    color: yellow;
}
.footer {
    
    display: flex;
    float: right;
    margin-bottom: 20px;
    justify-content: space-between;
}

.footer button {
    justify-self: center;
    height: 40px;
    
    
    background-color: #fbfbfb;
}
p{
    color:black;
    margin-top: ;
}